* {
  /*border: solid red 1px;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

.ai-slot {
  flex-direction: row-reverse;;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: solid white .5px;
  border-raidus: 5px;
  margin: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 25px;
  height: 25px;
  background-color: white;
}

.card row {
  height: 100px;
}

.card.face {
  background-color: white;
}

.card.faceDown {
  background-image: url("./images/spade.png")
}

.container {
  align-items: center;
  border: solid white 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}

.dealer-slot {
  justify-content: center;
}

.displayNormal{
  display: inline;
  background-color: white;
}

.displayNone{
  display: none;
}

.dealer {
  order: 1;
}

.hand {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: column;
}

.player-slot {
  justify-content: center;
}

.player-ui {
  width: 80%;
  background-color: lightgrey;
}

.slot {
  width: 100%;
  display: flex;
  align-items: center;
}

.table {
  background-color: rgb(26, 85, 28);
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
