* {
  /*border: solid red 1px;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

.ai-slot {
  flex-direction: row-reverse;;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bet input {
  width: 20px;
  margin-right: 5px;
}

.button {

}
.card {
  border: solid white .5px;
  border-radius: 5px;
  height: 120px;
  width: 60px;
  margin: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card row {
  /*height: 100px;*/
}

.card.face {
  background-color: white;
  background-image: url("./images/spade.png")
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;*/
}

.card.faceDown {
  /*background-image: url("./images/spade.png")*/
  background-image: url('https://s24.postimg.org/yk4rcl2qt/images.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  align-items: center;
  border: solid white 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}

.dealer-slot {
  justify-content: center;
}

.displayNormal{
  display: block;
  background-color: white;
}

.displayNone{
  display: none;
}

.dealer {
  order: 1;
}

.hand {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.player-name {
  background-color: rgba(0,0,0,0.5);
  border: outset white 2px;
  color: rgb(79, 164, 108);
  padding: 5px;

}

.player-name {
  text-shadow: -1px 0 #00fff6, 0 1px #00deff, 1px 0 rgba(255, 243, 243, 0.92), 0 -1px #daff00;
  color: #ff3d00;
}

.player-slot {
  justify-content: center;
}

.player-ui {
  width: 80%;
  background-color: #1d3542;
  color: white;
}

.slot {
  width: 100%;
  display: flex;
  align-items: center;
}

.table {
  background-color: rgb(26, 85, 28);
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://s27.postimg.org/751qujf8j/Game_Page_BJ_Main_1461050691624_tcm1582_294463.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  border-style: inset;
  border-width: 2px;
  border-color: black;
  margin-top:100px;
  /*border-image-source: url('https://s27.postimg.org/xhl5spu3n/image.jpg');
  border-image-repeat: repeat;*/
}
