* {
  border: solid white 1px;
}

.ai-slot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  background-color: rgb(26, 85, 28);
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hand {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: column;
}

.dealer {
  order: 1;
}

.player-ui {
  width: 80%;
  background-color: lightgrey;
}
